@import url("https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Josefin Sans:100,200,300,400,500,600,700");
@import url(classy-nav.css);

:root {
  --brand: #da0150;
  --sub: #009990;
  --body: #516171;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

html,
body {
	font-family: "Josefin Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
  /* overflow: hidden; */
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Merriweather", sans-serif;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Josefin Sans", sans-serif;
	color: #707070;
	font-weight: 400;
	line-height: 26px;
}

li {
  list-style: none;
}

.classynav ul {
  margin: 0;
  padding: 0; 
}
.classynav ul li {
  margin: 0;
  padding: 0; 
}

a {
  color: var(--body);
  text-decoration: none;
}

a:hover {
  color: var(--brand);
  text-decoration: none;
}

.text-brand{
  color: var(--brand);
}

.background-brand{
  background-color: var(--brand);
}

.btn-brand{
  background-color: var(--brand);
  color: white;
}

.btn-brand:hover{
  background-color: white;
  color: var(--brand);
  border: 1px solid var(--brand);
}

.btn-slide{
  background-color: var(--brand);
  color: white;
}
.btn-slide:hover{
  background-color: var(--brand);
  color: white;
}

/* Topbar */
.topbar .icons a{
  color: black;
  background-color: white;
  border: 1px solid white;
}

.topbar .icons a:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/* Back to Top */
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
  background-color: #000000;
  color: white;
}

.back-to-top:hover{
  color: white;
}

/* Float Icons */
.float {
  position:fixed;
  width:60px;
  height:60px;
  bottom:110px;
  left:20px;
  background-color:#37b6ff;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float-2 {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  left:20px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float {
  margin-top:16px;
}

.float:hover {
  color: #37b6ff;
  background-color: white;
  border: 1px solid #37b6ff;
}

.float-2:hover {
  color: #25d366;
  background-color: white;
  border: 1px solid #25d366;
}

/*** Footer ***/
.footer{
  /* background-color: white; */
  /* background-color: black; */
  /* background: url("../img/image/slide-1.jpg"); */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/image-1/slide-2.jpg") center center no-repeat;
  background-size: cover;
}

.footer a{
  text-decoration: none;
}

.footer-head{
  color: white;
  font-weight: 900;
}

.footer-color{
  color: #b9babc;
  /* color: black; */
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: .3s;
  /* background-color: var(--brand);
  border: 1px solid var(--brand); */
}

.footer .btn.btn-social:hover {
  color: black;
  /* background-color: white; */
  /* background-color: black;
  border: 1px solid var(--brand); */
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  /* color: black; */
  color: #b9babc;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: white;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .3);
}

.footer .copyright a {
  color: white;
}

.footer .copyright a:hover {
  color: #b9babc;
}

.close {
  color: #000;
  opacity: 0.7;
  font-size: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.close:hover {
  opacity: 1;
}

/* .nav-brand:hover{
  color: black !important;
} */

/*** Testimonial Start ***/
.testimonial .testimonial-item {
  position: relative;
  margin-bottom: 30px;
  padding: 0 25px 25px 25px;
}

.testimonial .testimonial-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: var(--bs-light);
  z-index: -1;
}

.testimonial .testimonial-item .testimonial-img {
  display: flex;
  justify-content: center;
}

.testimonial .testimonial-item .testimonial-img img {
  width: 100px; 
  height: 100px;
  border-radius: 100px;
  border: 5px solid var(--bs-light);
  border-style: double;
  background: white;
  object-fit: cover;
}

.testimonial .testimonial-item .testimonial-text {
  padding: 25px 0;
  text-align: center;
}

.testimonial .testimonial-item .testimonial-title {
  display: flex;
  justify-content: space-between;
}

.testimonial .testimonial-item  .testimonial-quote-left {
  position: absolute;
  width: 60px; 
  height: 60px;
  top: 20px;
  left: 25px;
  border-radius: 60px;
  color: var(--brand);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial .testimonial-item  .testimonial-quote-right {
  position: absolute;
  width: 60px; 
  height: 60px;
  bottom: -30px;
  right: 25px;
  margin-top: -5px;
  border-radius: 60px;
  color: var(--brand);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-stage-outer {
  margin-top: 58px;
  margin-right: -1px;
}

.testimonial .owl-nav .owl-prev {
  position: absolute;
  top: -58px;
  left: 0;
  background: var(--brand);
  color: white;
  padding: 5px 30px;
  border-radius: 30px;
  transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
  background: var(--sub);
  color: white;
}

.testimonial .owl-nav .owl-next {
  position: absolute;
  top: -58px;
  right: 0;
  background: var(--brand);
  color: white;
  padding: 5px 30px;
  border-radius: 30px;
  transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
  background: var(--sub);
  color: white;
}

.testimonial-carousel .owl-dots {
  display: flex;
  justify-content: center;
}

.testimonial-carousel .owl-dots .owl-dot {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 20px 10px 0 10px;
  background: var(--brand);
  transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: whitesmoke;
  transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot span {
  position: relative;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonial-carousel .owl-dots .owl-dot.active span::after {
  background: var(--brand);
}

.testimonial-carousel .owl-dots .owl-dot span::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  transition: 0.5s;
}

/*** Testimonial End ***/

/* Image Gallery */
.untree_co-section {
  padding: 100px 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .untree_co-section {
      padding: 50px 0;
  }
}

.untree_co-section .heading h3 {
  font-size: 35px;
  color: #000000;
}

@media (max-width: 991.98px) {
  .untree_co-section .heading {
      font-size: 20px;
  }
}

.untree_co-section .heading strong {
  font-weight: 700;
}

.item {
  border: none;
  margin-bottom: 30px;
  border-radius: 4px;
  display: block;
}

.item a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  display: block;
}

.item a img {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap {
  display: block;
  position: relative;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap > i {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  color: #ffffff;
  font-size: 1.7rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover i {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.item:hover a img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

#contact .section-heading {
  margin-bottom: 30px;
}

#contact .section-heading h6 {
  color: #fff;
}

#contact .section-heading h2 {
  color: #fff;
  font-weight: 700;
}

#contact .section-heading h6:before {
  background-color: #fff;
}

#contact p {
  color: #fff;
  margin-bottom: 65px;
}

#contact {
  margin-top: 50px;
  padding: 120px 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/image-1/image-7.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#contact .phone,
#contact .message {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

#contact .phone i,
#contact .message i {
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  color: #fff;
  background-color: var(--sub);
  border-radius: 50%;
  font-size: 24px;
  margin-top: -35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#contact .phone h4,
#contact .message h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

#contact .phone span a,
#contact .message span a {
  font-size: 14px;
  color: #2a2a2a;
  transition: all .3s;
}

#contact .phone span a:hover,
#contact .message span a:hover {
  color: var(--sub);
}

.bg-2 {
  /* background: url("../img/image/slide-1.jpg"); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/image-1/image-5.jpg") fixed center center no-repeat;
  background-size: cover;
}

.site-section {
  padding: 2.5em 0;
}

@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}

.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  position: relative;
  font-size: 1.7rem;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .site-section-heading {
    font-size: 2rem;
  }
}

.site-section-heading:after {
  content: "";
  left: 0%;
  bottom: 0;
  position: absolute;
  width: 100px;
  height: 1px;
  background: var(--brand);
}

.site-section-heading.text-center:after {
  content: "";
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  left: 50%;
  bottom: 0;
  position: absolute;
  width: 100px;
  height: 1px;
  background: var(--brand);
}

.half-wrap {
  width: 50%;
}

@media (max-width: 991.98px) {
  .half-wrap {
    width: 100%;
  }
}

.half-wrap > .half {
  width: 50%;
}

@media (max-width: 991.98px) {
  .half-wrap > .half {
    width: 100%;
    height: 350px;
  }
}

.half-wrap > .half.arrow-right {
  position: relative;
}

.half-wrap > .half.arrow-right:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 15px;
  margin-top: -15px;
}

@media (max-width: 767.98px) {
  .half-wrap > .half.arrow-right:after {
    display: none;
  }
}

.half-wrap > .half.arrow-left {
  position: relative;
}

.half-wrap > .half.arrow-left:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 15px;
  margin-top: -15px;
}

@media (max-width: 767.98px) {
  .half-wrap > .half.arrow-left:after {
    display: none;
  }
}

.half-wrap > .half .text {
  padding: 30px;
  color: #888;
}

.half-wrap h2 {
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}

.bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.price-item{
  box-shadow: 0 0 45px rgba(0, 0, 0, .07);
  border-radius: 20px;
}

/******/

@media only screen and (min-width: 967px) {
  .design-1{
    text-align: center;
  }
  .rl-space{
    padding: 0px 120px;
  }
  .rl-space-fluid{
    padding: 0px 220px;
  }
}


.info1{
  background-color: var(--brand);
  padding: 50px 20px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.info .info2{
  height: 500px;
}

@media only screen and (max-width: 767px) {
  .info .info2{
    height: 200px;
  }
}
@media only screen and (max-width: 460px) {
  .info .info1{
    padding: 50px 20px;
  }
  .info .info1 h1{
    font-size: 25px;
    padding-bottom: 20px;
  }
  .info .info1 h4{
    font-size: 14px;
  }
}

.design-h2{
  font-weight: 900;
  color: var(--brand);
}
@media (max-width: 792px) {
  .design-h2{
    font-size: 20px;
  }
}
.list-num{
  list-style: decimal;
  padding: 5px 0px;
}



/* Path */
.banner-area {
  position: relative;
  min-height: 500px;
  color: #fff;
  background: linear-gradient(rgba(19, 57, 118, 0.65), rgba(19, 57, 118, 0.65)), url("../img/image-1/contact-bg.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .banner-title {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .banner-title {
    font-size: 32px;
  }
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-heading {
  text-align: center;
}

.breadcrumb {
  padding: 0;
  background: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.breadcrumb li a,
.breadcrumb .breadcrumb-item,
.breadcrumb li a:focus {
  color: #fff !important;
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: rgba(255, 255, 255, 0.7); }
  .site-navbar .site-logo {
  position: relative;
  left: 0;
  top: -5px; }
  .site-navbar .site-navigation .site-menu {
  margin-bottom: 0; }
  .site-navbar .site-navigation .site-menu .active {
  color: var(--brand);
  display: inline-block;
  padding: 5px 20px; }
  .site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block; }
  .site-navbar .site-navigation .site-menu > li {
  display: inline-block; }
  .site-navbar .site-navigation .site-menu > li > .nav-link {
  /* padding: 20px 10px; */
  padding: 0px;
  margin: 0px 10px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  display: inline-block;
  text-decoration: none !important; }
  .site-navbar .site-navigation .site-menu > li > .top-button {
  padding: 10px 20px;
  color: #000;
  display: inline-block;
  text-decoration: none !important; }
  .site-navbar .site-navigation .site-menu > li > a:hover {
  color: var(--brand); }
  .site-navbar .site-navigation .site-menu .has-children {
  position: relative; }
  .site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px; }
  .site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon'; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  /* border-top: 2px solid #000; */
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown .active {
  color: var(--brand) !important; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  /* min-width: 210px; */
  min-width: 250px;
   }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  /* padding: 10px 50px; */
  padding: 10px 0px 0px 25px;
  display: block; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  /* background: #eff1f3; */
  color: var(--sub);
 }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0; }
  .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: var(--brand); }
  .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer; }
  .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1; }
  
  .site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; }
  .site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529; }
  .site-mobile-menu .site-nav-wrap a:hover {
  color: var(--brand); }
  .site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block; }
  .site-mobile-menu .site-nav-wrap li .active {
  color: var(--brand); }
  .site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%; }
  .site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 15px; }
  .site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 13px; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important; }
  
  .sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .sticky-wrapper .site-navbar .site-menu-toggle {
  color: #ffffff; }
  .sticky-wrapper .site-navbar .site-logo a {
  color: #ffffff; }
  .sticky-wrapper .site-navbar .site-menu > li > a {
  color: rgba(255, 255, 255) !important; }
  .sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
  color: #ffffff !important; }
  .sticky-wrapper.is-sticky .site-navbar {
  background: #000000;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }
  .sticky-wrapper.is-sticky .site-navbar .site-menu-toggle {
  color: #ffffff; }
  .sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #ffffff; }
  .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
  color: #ffffff !important;
  /* padding: 20px 20px; */
  margin-bottom: 20px;
 }
  .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
  color: var(--sub) !important; }
  .sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.nav-brand img{
    height: 45px;
    margin: 5px 0px;
}

/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: rgba(255, 255, 255, 0.7); }
  .site-navbar .site-logo {
  position: relative;
  left: 0;
  top: -5px; }
  .site-navbar .site-navigation .site-menu {
  margin-bottom: 0; }
  .site-navbar .site-navigation .site-menu .active {
  color: var(--brand);
  display: inline-block;
  padding: 5px 20px; }
  .site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block; }
  .site-navbar .site-navigation .site-menu > li {
  display: inline-block; }
  .site-navbar .site-navigation .site-menu > li > .nav-link {
  /* padding: 20px 10px; */
  padding: 0px;
  margin: 0px 10px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  display: inline-block;
  text-decoration: none !important; }
  .site-navbar .site-navigation .site-menu > li > .top-button {
  padding: 10px 20px;
  color: #000;
  display: inline-block;
  text-decoration: none !important; }
  .site-navbar .site-navigation .site-menu > li > a:hover {
  color: var(--brand); }
  .site-navbar .site-navigation .site-menu .has-children {
  position: relative; }
  .site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px; }
  .site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon'; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  /* border-top: 2px solid #000; */
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown .active {
  color: var(--brand) !important; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  /* min-width: 210px; */
  min-width: 250px;
   }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  /* padding: 10px 50px; */
  padding: 10px 0px 0px 25px;
  display: block; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  /* background: #eff1f3; */
  color: var(--sub);
 }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0; }
  .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: var(--brand); }
  .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer; }
  .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1; }
  
  .site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; }
  .site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529; }
  .site-mobile-menu .site-nav-wrap a:hover {
  color: var(--brand); }
  .site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block; }
  .site-mobile-menu .site-nav-wrap li .active {
  color: var(--brand); }
  .site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%; }
  .site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 15px; }
  .site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 13px; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important; }
  
  .sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .sticky-wrapper .site-navbar .site-menu-toggle {
  color: #ffffff; }
  .sticky-wrapper .site-navbar .site-logo a {
  color: #ffffff; }
  .sticky-wrapper .site-navbar .site-menu > li > a {
  color: rgba(255, 255, 255) !important; }
  .sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
  color: #ffffff !important; }
  .sticky-wrapper.is-sticky .site-navbar {
  background: #000000;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }
  .sticky-wrapper.is-sticky .site-navbar .site-menu-toggle {
  color: #ffffff; }
  .sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #ffffff; }
  .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
  color: #ffffff !important;
  /* padding: 20px 20px; */
  margin-bottom: 20px;
 }
  .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
  color: var(--sub) !important; }
  .sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

  .site-navbar .site-navigation .site-menu .has-children .dropdown-padding{
    padding: 30px !important;
  }

.nav-brand img{
    height: 60px;
    margin: 5px 0px;
}

.site-header{
  margin: 20px 10px 0px 0px;
}

.btn_1,
.btn_2:hover,
.main_menu .navbar-toggler:after,
.banner_part .banner_text .btn_1,
.feature_part .single_feature:hover span {
  background-image: linear-gradient(to left, #da0150 0%, #ed568e 51%, #da0150 100%);
}

.btn_1 {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  border: 1px solid transparent;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
}

/* line 38, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_1:hover {
  color: #fff !important;
  background-position: right center;
  box-shadow: 0px 10px 30px 0px rgba(193, 34, 10, 0.2);
}

@media (max-width: 576px) {

  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, .1);
  z-index: 1;
}
.carousel-item img{
  filter: brightness(50%);
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
}
/* .carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  width: 3rem;
  height: 3rem;
  background-color: var(--brand);
} */

@media (max-width: 768px) {
  #header-carousel .carousel-item {
      position: relative;
      min-height: 450px;
  }
  
  #header-carousel .carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

@keyframes slideInDownWithOpacity {
  0% {
    transform: translateY(-100%); /* Start above the viewport */
    opacity: 0; /* Fully transparent */
  }
  100% {
    transform: translateY(0); /* End at its original position */
    opacity: 1; /* Fully opaque */
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; /* Ensure the element retains the final state */
}

.slideInDown {
  animation-name: slideInDownWithOpacity;
}